@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');


* {
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
 
}


.bg-gray {

    background-image: linear-gradient(to right, rgb(95, 31, 31) , rgb(143, 28, 28) 40%,rgb(165, 55, 55))
    /* background: rgb(95, 31, 31); */
  /* line-height: 30px; */
 
}

.navbar-light .navbar-nav .nav-link{
    color: rgb(250, 249, 246);
}
.navbar-light .navbar-brand{
    color: rgb(250, 249, 246); 
}
.navbar-collapse{
  display: flex;
  justify-content: center;
}
.header-section a span {
  color: rgb(233, 223, 223);
}
.header-section i {
  color: rgb(233, 223, 223);
}

.banner-section {
  background-image: url("../assets/image/banner/banner-1.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  min-height: 100vh;
}

.banner-section h1 {
  position: relative;
  top: 75vh;
  left: 30%;
  width: fit-content;
  font-size: 4em;
  /* color: rgb(197, 156, 156); */
  color: rgb(233, 223, 223);
}
.servie-title span {
  color: rgb(209, 27, 27);
}
/* .service-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-left: auto;
} */
.service-card {
  width: 16rem;
  /* background-color: rgb(192, 181, 181); */
  background: linear-gradient(
    120deg,
    rgb(192, 181, 181) 60%,
    rgb(148, 130, 130) 60%
  );
  border: 0px;
}
.service-card:hover {
  background-color: rgb(243, 236, 236);

  transform: scale(1.1);
}
.service-card h5 {
  color: rgb(80, 28, 28);
}
.service-card h6 {
  color: rgb(80, 28, 28);
}

.service-card img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.price-title span {
  color: rgb(209, 27, 27);
}
.price-card {
  width: 20rem;
  background: linear-gradient(
    140deg,
    rgb(192, 181, 181) 70%,
    rgb(148, 130, 130) 60%
  );
  border-radius: 25px;
  /* min-height: 52vh; */
}
.price-card:hover {
  transform: scale(1.1);
}
.price-card h1 {
  position: absolute;
  margin: 40px 40px;

  font-size: xx-large;
  color: rgb(80, 28, 28);
}
.price-card i {
  color: brown;
}

.price-money {
  font-size: 60px;
}
.price-duration {
  font-size: x-large;
}
.price-card img {
  height: 25vh;
  object-fit: cover;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  opacity: 40%;
}
.price-card li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
.about-section {
  background: linear-gradient(
    110deg,
    rgb(95, 31, 31) 60%,
    rgb(206, 101, 101) 60%
  );
  margin-top: 100px;
  color: white;
}
.about-section i {
  color: rgb(202, 152, 152);
  font-size: 30px;
}
.about-img img {
  height: 60vh;
  width: 30rem;
  object-fit: cover;
  border-radius: 20px;
}
.about-img img:hover {
  transform: scale(1.1);
}
.about-title {
  color: rgb(248, 244, 244);
}
.about-title span {
  color: rgb(236, 14, 14);
}
.about-content h4:hover {
  color: brown;
  transform: scale(1.1);
}
.footer-section {
  margin-top: 100px;
  min-height: 10vh;
}
.footer-section a {
  text-decoration: none;
  color: black;
}

.footer-section i,
.footer-section span {
  color: rgb(209, 27, 27);
}
.footer-phone:hover,
.subscribe-title:hover {
  color: rgb(209, 27, 27);
  transform: scale(1.1);
}

/* Login Page */

.login-title i,
.login-title span {
  color: rgb(209, 27, 27);
}
.login-title a {
  text-decoration: none;
  color: black;
}

.login-image img {
  height: 700px;
  width: 600px;
  object-fit: cover;
  margin-top: 80px;

  border-radius: 30px;
}

.login-image img:hover {
  transform: scale(1.1);
}
.login-form-section {
  margin-top: 100px;
  
}
.login-form {
  width: 350px;
}
.login-form a{
  color: brown;
}
.form-control:focus {
  border-color: rgb(209, 27, 27);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(209, 27, 27);
}

@media only screen and (max-width: 440px) {
  .banner-section h1 {
    /* left: 10%; */
    font-size: medium;
    font-size: 1em;
  }

  .service-card {
    width: 10rem;
  }
  .price-card {
    width: 10rem;
  }
  .price-card h1 {
    left: 0%;
    font-size: 1rem;
  }
  .price-card li {
    font-size: medium;
  }
  .price-money {
    font-size: 40px;
  }
  .price-duration {
    font-size: large;
  }
  .about-img img {
    height: 40vh;
    width: 10rem;
  }
  .login-image img {
    height: 400px;
    width: 300px;
  }
}

@media only screen and (min-width: 440px) and (max-width: 886px) {
  .banner-section h1 {
    /* left: 25%; */
    font-size: 1.8em;
    /* font-size: medium; */
  }
  .service-card {
    width: 12rem;
  }
  .price-card {
    width: 12rem;
  }
  .price-card h1 {
    left: 1%;
    font-size: 20px;
  }
  .price-money {
    font-size: 30px;
  }
  .price-duration {
    font-size: 15px;
  }
  .about-img img {
    height: 40vh;
    width: 20rem;
  }

  .login-image img {
    height: 500px;
    width: 400px;
  }
}
